/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background: rgba(255, 255, 255, 0.7);
}

body {
  overflow: auto !important;
}

#home {
  display: initial !important;
}

input[type="text"],
input[type="date"] {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="text"]:focus,
input[type="date"]:focus {
  border-color: red;
}

select {
  background: transparent;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
}

select option {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 25px;
  height: 25px;
  border-radius: 5px;
  display: inline-block;
  line-height: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 25px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -25px;
}

label.css-label {
  background-image: url(../data/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea {
  margin: 0px 0px 0px 10px;
  width: 400px;
  height: 200px;
  background: transparent;
  color: white;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-family: sans-serif;
  -webkit-transition: .2s;
  transition: .2s;
}

textarea:focus {
  border-color: red;
}

#generalSettings {
  background: rgba(0, 0, 0, 0.9);
  width: 90%;
  margin-left: 5%;
  border: 1px solid white;
  border-radius: 5px;
  font-family: Space;
}

#generalSettings h2 {
  color: white;
  padding-left: 10px;
}

#generalSettings div p {
  color: white;
  display: inline-block;
  padding: 0 10px;
}

#astraSettings {
  margin-top: 10px;
  width: 90%;
  margin-left: 5%;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.9);
  font-family: Space;
}

#astraSettings h2 {
  color: white;
  padding-left: 10px;
}

#astraSettings .systemContainer {
  width: calc(100% - 10px);
  margin-left: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

#astraSettings .systemContainer .astreContainer {
  width: calc(100% - 10px);
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

#astraSettings .systemContainer .astreContainer h3 {
  font-family: sans-serif;
  color: white;
  padding: 0 10px;
}

#astraSettings .systemContainer .astreContainer div {
  border: none;
}

#astraSettings .systemContainer .astreContainer div p {
  display: inline-block;
  color: white;
  padding: 0 10px;
}

#astraSettings .systemContainer .astreContainer div img {
  vertical-align: middle;
}

#astraSettings .systemContainer .astreContainer .atmContainer {
  display: none;
}

#astraSettings .systemContainer .astreContainer .ringContainer {
  display: none;
}

.visible {
  display: block !important;
}

#addButton {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  margin-left: calc(50% - 50px);
  background: rgba(0, 0, 0, 0.9);
  margin-top: 50px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

#addButton:hover {
  background: rgba(100, 100, 200, 0.5);
}

#addButton #addSymbol {
  display: inline-block;
  text-align: center;
  width: 30px;
  margin: 0;
  line-height: 30px;
  font-family: Space;
}

#addButton #addText {
  display: inline-block;
  text-align: center;
  width: calc(100% - 30px);
  margin: 0;
  line-height: 30px;
  font-family: Space;
}

#iconPicker {
  position: absolute;
  width: 210px;
  height: 200px;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: stroke;
  overflow-y: auto;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -webkit-transition: .2s;
  transition: .2s;
}

#iconPicker .icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid black;
}

#iconPicker .icon:hover {
  border: 1px solid white;
}

#surfacePicker {
  position: absolute;
  width: 210px;
  height: 200px;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: stroke;
  overflow-y: auto;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -webkit-transition: .2s;
  transition: .2s;
}

#surfacePicker .surface {
  width: 100px;
  cursor: pointer;
  border: 1px solid black;
}

#surfacePicker .surface:hover {
  border: 1px solid white;
}

#maskPicker {
  position: absolute;
  width: 210px;
  height: 150px;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: stroke;
  overflow-y: auto;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -webkit-transition: .2s;
  transition: .2s;
}

#maskPicker .mask {
  width: 100px;
  cursor: pointer;
  border: 1px solid black;
}

#maskPicker .mask:hover {
  border: 1px solid white;
}

#ringPicker {
  position: absolute;
  width: 210px;
  height: 150px;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: stroke;
  overflow-y: auto;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -webkit-transition: .2s;
  transition: .2s;
}

#ringPicker .ring {
  width: 100px;
  cursor: pointer;
  border: 1px solid black;
}

#ringPicker .ring:hover {
  border: 1px solid white;
}

.hiddenPicker {
  opacity: 0 !important;
  pointer-events: none !important;
}
/*# sourceMappingURL=editor.css.map */