@charset "UTF-8";
@font-face {
  src: url("../font/a-space.otf");
  font-family: space;
}

::-moz-selection {
  color: inherit;
  background: limegreen;
}

::selection {
  color: inherit;
  background: limegreen;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background: rgba(255, 255, 255, 0.7);
}

/***/
html,
body {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* Titre principal */
#titre {
  font-family: space;
  font-size: 400%;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 3px black;
  line-height: 0.7em;
}

#titre .soustitre {
  font-size: 50%;
}

/* Bandeau de Chargement */
#loading {
  font-family: Space;
  text-align: center;
  color: white;
  margin-top: 30vh;
  font-size: 250%;
  letter-spacing: 0.4em;
  background: rgba(0, 0, 0, 0.9);
  padding-top: 10px;
  width: 100%;
}

#bar {
  height: 2px;
  width: 0%;
  margin-top: 12px;
  background: green;
}

@media screen and (max-width: 560px) {
  #loading {
    letter-spacing: 0.3em;
  }
}

@media screen and (max-width: 520px) {
  #loading {
    letter-spacing: 0.2em;
  }
}

@media screen and (max-width: 470px) {
  #loading {
    letter-spacing: 0.1em;
  }
}

@media screen and (max-width: 420px) {
  #loading {
    font-size: 200%;
  }
}

@media screen and (max-width: 350px) {
  #loading {
    font-size: 150%;
  }
}

/***/
#renderCanvas {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
      touch-action: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.point {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

/* Menu des simulations */
#menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  z-index: 4;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .5s;
  transition: .5s;
}

#menu div {
  border: 1px solid white;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5px;
  background: white;
  font-family: Space;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 125%;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

#menu div:hover {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

#menu div:hover ul:not(#astra-list) {
  min-width: calc(16.3%);
  display: block;
  position: absolute;
  text-align: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu div:hover ul:not(#astra-list) li {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 2px 0;
  color: black;
  background: white;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 80%;
}

#menu div:hover ul:not(#astra-list) li:hover {
  border: 1px solid white;
  color: white;
  background: rgba(0, 0, 0, 0.9);
}

#menu div > p {
  margin: 0;
  height: 35px;
  line-height: 35px;
}

#menu div ul:not(#astra-list) {
  display: none;
}

#menu.hiddenMenu {
  -webkit-transform: translateY(-100%) !important;
          transform: translateY(-100%) !important;
}

/* Liste des astres */
#astra-list {
  display: none;
}

#astras:hover {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#astras:hover #astra-list {
  display: block;
  position: absolute;
  max-height: 80vh !important;
  width: calc(16.4%);
  min-width: 250px !important;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -1px;
}

#astras:hover #astra-list li {
  text-align: left;
  border: 1px solid white;
}

#astras:hover #astra-list li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#astras:hover #astra-list li.planete {
  padding: none !important;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9) !important;
  height: 50px !important;
}

#astras:hover #astra-list li.planete img {
  float: left;
  height: 100%;
  border-radius: 100%;
}

#astras:hover #astra-list li.planete p {
  color: white;
  float: left;
  padding-left: 10px;
  width: calc(100% - 50px - 10px);
  border: none !important;
  margin: 0px !important;
  line-height: 50px;
  height: 100%;
  background: transparent !important;
}

#astras:hover #astra-list li.planete:hover {
  background: rgba(100, 100, 200, 0.9) !important;
}

#astras:hover #astra-list li.satellite {
  padding: none !important;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9) !important;
  height: 30px !important;
}

#astras:hover #astra-list li.satellite img {
  float: left;
  height: 100%;
  border-radius: 100%;
}

#astras:hover #astra-list li.satellite p {
  float: left;
  padding-left: 10px;
  width: calc(100% - 30px - 10px);
  font-size: 80% !important;
  color: white;
  border: none !important;
  margin: 0px !important;
  line-height: 30px;
  height: 100%;
  background: transparent !important;
}

#astras:hover #astra-list li.satellite:hover {
  background: rgba(100, 100, 200, 0.9) !important;
}

@media screen and (max-width: 930px) {
  #fullscreen > p {
    font-size: 90%;
  }
}

@media screen and (max-width: 856px) {
  #fullscreen > p {
    line-height: 17.5px !important;
  }
}

@media screen and (max-width: 600px) {
  #fullscreen > p {
    line-height: 35px !important;
  }
  #views {
    display: none;
  }
  #astra-list {
    right: 0;
  }
  #toolbar img {
    width: 40px !important;
    height: 40px !important;
  }
  #settings {
    display: none;
  }
}

@media screen and (max-width: 553px) {
  #fullscreen > p {
    line-height: 17.5px !important;
  }
}

@media screen and (max-width: 400px) {
  #fullscreen {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  #toolbar img {
    width: 30px !important;
    height: 30px !important;
  }
}

@media screen and (max-width: 1100px) {
  #menu > li:not(#exit):not(#astras):not(#binfos) {
    display: none !important;
  }
}

#exit a {
  text-decoration: none;
  color: red;
}

#fullscreen:hover #screen-list {
  display: block;
}

#views:hover #cam-list {
  display: block;
}

#full-exit {
  display: none;
}

/* Date */
#date-container {
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 2;
}

#date-container #date {
  color: white;
  font-family: Space;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .1s;
  transition: .1s;
}

#date-container #date:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#date-container #fps {
  color: yellow;
  font-family: Space;
  display: inline-block;
  opacity: 1;
  -webkit-transition: .1s;
  transition: .1s;
}

#date-container #fps.hiddenFPS {
  opacity: 0 !important;
}

#date-container.hiddenDateContainer {
  opacity: 0;
}

#dateSelectorContainer {
  z-index: 4;
  position: absolute;
  width: 300px;
  height: 150px;
  left: calc(50% - 150px);
  top: calc(50% - 75px);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-family: Space;
  -webkit-transition: .5s;
  transition: .5s;
}

#dateSelectorContainer #headText {
  text-align: center;
}

#dateSelectorContainer input {
  margin: 0 10px;
  width: calc(100% - 22px);
  height: 30px;
  font-family: inherit;
  font-size: 100%;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
}

#dateSelectorContainer #closeDateSelector,
#dateSelectorContainer #changeDateButton {
  float: right;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 5px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

#dateSelectorContainer #closeDateSelector:hover {
  background: rgba(255, 0, 0, 0.5);
}

#dateSelectorContainer #changeDateButton:hover {
  background: rgba(100, 100, 200, 0.5);
}

#dateSelectorContainer.hiddenDateSelector {
  opacity: 0;
  pointer-events: none;
}

#visite {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: Space;
  color: white;
  font-size: 90%;
}

/* Bouton Github */
#github {
  position: absolute;
  bottom: 1%;
  right: 1%;
  opacity: 0.2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#github img {
  border-radius: 100%;
  width: 60px;
}

#github:hover {
  opacity: 1;
}

/* Bouton BabylonJS  */
#babylonjs {
  position: absolute;
  left: 5px;
  bottom: 10px;
  opacity: 0.5;
  cursor: pointer !important;
  z-index: 2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#babylonjs:hover {
  opacity: 1;
}

/* Pied de page sur mobile */
@media screen and (max-width: 630px) {
  footer {
    display: none;
  }
}

/* Panneau d'informations des simulations */
#infos {
  width: 28.5%;
  min-width: 350px;
  left: 0;
  font-weight: normal;
  line-height: 1.5em;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: .5s;
  transition: .5s;
}

#infos #previous {
  text-align: left;
}

#infos #name {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  width: 70%;
  font-size: 200%;
  letter-spacing: 0.15em;
}

#infos #previous,
#infos #next {
  cursor: pointer;
  text-align: left;
  font-size: 256%;
  vertical-align: middle;
  margin: 0;
  width: 13%;
  display: inline-block;
}

#infos #next {
  text-align: right;
}

#infos {
  position: absolute;
  top: 15%;
  min-height: 200px;
  height: calc(65vh + 2px + 42px);
  border-radius: 5px;
  z-index: 2;
  font-family: space;
  color: white;
  background: rgba(0, 0, 0, 0.9);
}

#infos #infos-headers {
  text-align: center;
  margin: 0;
  border: 1px solid white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  height: 30px;
}

#infos #infos-content {
  overflow-y: auto;
  height: 65vh;
  border: 1px solid white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#infos #infos-content h3 {
  margin-left: 3%;
  margin-right: 3%;
}

#infos #infos-content h3 span:not(#parent) {
  font-size: 80%;
  font-weight: normal;
  line-height: 1.7em;
}

#infos.hiddenInfos {
  -webkit-transform: translateX(-100%) !important;
          transform: translateX(-100%) !important;
}

/* Panneau des paramètres */
#setters {
  position: absolute;
  top: 15%;
  height: calc(65vh + 2px + 42px);
  min-height: 200px;
  width: 270px;
  right: 0;
  border-radius: 5px;
  z-index: 2;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  background: rgba(0, 0, 0, 0.9);
  font-family: space;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

#setters h2 {
  text-align: center;
  margin: 0;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  height: 30px;
}

#setters #setters-content {
  overflow-y: auto;
  height: 65vh;
  border: 1px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#setters #setters-content h3 {
  margin-left: 3%;
  margin-right: 3%;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

#setters #setters-content .ui-slider {
  margin: 5%;
  margin-right: 8%;
}

#setters #setters-content .ui-slider-handle {
  font-family: space;
  min-width: 2em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
  cursor: pointer;
}

#setters.hiddenSetters {
  -webkit-transform: translateX(100%) !important;
          transform: translateX(100%) !important;
}

/* Toolbar */
#toolbar {
  position: absolute;
  bottom: 5px;
  display: none;
  z-index: 2;
}

#toolbar img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/* Mobile */
@media screen and (max-width: 580px) {
  #titre {
    line-height: 1em;
  }
  #titre span {
    display: none;
  }
}

/* Popup vue libre */
#zqsd {
  color: white;
  width: 100%;
  text-align: center;
  font-family: Space;
  position: absolute;
  pointer-events: none;
  top: 200px;
  opacity: 0;
  z-index: 3;
  left: 0;
  right: 0;
  -webkit-transition: .25s;
  transition: .25s;
}

.visibleZQSD {
  opacity: 1 !important;
}

.key {
  border: 1px solid gray;
  border-radius: 5px;
  background: rgba(100, 100, 200, 0.8);
  padding: 2px 4px;
}

/****SLIDER EXPERIMENT***/
.range-slider {
  width: 90%;
  margin: 0 5%;
}

.rs-range {
  width: 100%;
  -webkit-appearance: none;
}

.rs-range:focus {
  outline: none;
}

.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #c8c8c8;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: none;
  background: #c8c8c8;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: gainsboro;
  -webkit-box-shadow: 0px 0px 0px black;
          box-shadow: 0px 0px 0px black;
  border: 1px solid grey !important;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  cursor: pointer;
  margin-top: -8px;
  -webkit-transition: .5s;
  transition: .5s;
}

.rs-range::-webkit-slider-thumb:hover {
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
}

.rs-range::-moz-range-thumb {
  -webkit-appearance: none;
  background: white;
  box-shadow: 0px 10px 10px black;
  border: 1px solid grey !important;
  border-radius: 5px;
  height: 42px;
  width: 22px;
  cursor: pointer;
  margin-top: -8px;
  -webkit-transition: .5s;
  transition: .5s;
}

.rs-range::-moz-range-thumb:hover {
  box-shadow: 0px 0px 10px white;
}

.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  position: relative;
  top: 24px;
  left: 25px;
  pointer-events: none;
  line-height: 30px;
  color: black;
}
/*# sourceMappingURL=style.css.map */