#info {
    display: none;
}

#menu>li,
#menu li ul {
    width: 24.7%;
}

#renderCanvas {
    z-index: 0;
}

#star {
    margin-top: 5px;
    width: 100%;
    border-radius: 3px;
    padding: 5px;
    float: left;
}

#starhandle {
    padding: 5px;
    width: 75px;
    margin-left: -37.5px;
    font-family: Space;
    text-align: center;
    cursor: pointer;
}

#ui {
    z-index: 50000000;
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}

#ui p {
    text-align: center;
    color: white;
    font-family: Space;
    font-size: 125%;
}

#generate {
    width: 15%;
    margin-left: 42%;
    background: green;
    border: 1px solid green;
    color: white;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-family: Space;
    font-size: 150%;
    transition: .5s;
}

#generate:hover {
    background: black;
}

@media screen and (max-width:1170px) {
    #menu>li:not(#exit):not(#settings) {
        display: none;
    }
    #exit,
    #settings {
        width: 49.7% !important;
    }
}